/* ==========================================================================
   Bootstrap default behaviour overrides
   ========================================================================== */

#top-nav.navbar-default {
  background: #fff;
}
#top-nav.navbar-default .navbar-nav > li > a {
  color: #1d2660;
}
#top-nav .navbar-brand {
  font-size: 16px;
  /* Sets the same base for relative units. Bootstrap sets this to 18px. An alternative is to use rems (root em) instead of ems */
}
#top-nav.navbar-default .navbar-nav > li > a:hover {
  color: inherit;
  background: none;
  border-bottom: 5px solid #1d2660;
}
#top-nav.navbar-default .navbar-nav > li.active > a,
#top-nav.navbar-default .navbar-nav > li.active > a:hover,
#top-nav.navbar-default .navbar-nav > li > a:focus  {
  font-weight: bold;
  color: inherit;
  background: none;
}

/* ==========================================================================
   Custom Selectors
   ========================================================================== */

/*
 * 16px is the body font-size
 */

/* =========== Logo =========== */

#top-nav .navbar-brand {
  padding: 1.3125em -0px; /* 21/16 */
  width: 12.5em;
  transition: all 0.1s ease-out;
  height: auto;
  position: relative;
  top: 0.125em;
}
#top-nav.shrinked .navbar-brand {
  width: calc(55/75 * 12.5em);
  padding: calc(55/75 * 1.3125em) -0px;
}

/* =====================================
   Navbars
   ===================================== */

#top-nav .navbar-nav {
  transition: height 0.1s ease-out;
  height: calc(75/16 * 1em);
}
#top-nav.shrinked .navbar-nav {
  height: calc(55/16 * 1em);
}
#top-nav .navbar-nav a {
  transition: all .1s ease-out;
  transition-property: padding;
}

/* =========== Left Navbar =========== */

#top-nav .navbar-left {
  margin-left: 4.25em;
}
#top-nav.shrinked .navbar-left {
  margin-left: 4.25em; /* Not sure what's best here. Same margin is drawn in the mockup (RT_Hub_menu.png), but the comment suggests it should differ. If not: remove this block */
}
#top-nav .navbar-nav.navbar-left a {
  font-size: 0.875em; /* 14px/16px => 0.875em */
  margin-right: calc(35/14 * 1em);
  padding: calc(35/14 * 1em) calc(6/14 * 1em) calc(30/14 * 1em - 5px);
  line-height: 10px; /* FF */
  line-height: calc(10/14 * 1em);
  font-weight: 500;
}
#top-nav.shrinked .navbar-left a {
  padding: calc(24/14 * 1em) calc(6/14 * 1em) calc(21/14 * 1em - 5px);
}
#top-nav .navbar-nav.navbar-left li:last-of-type a {
  margin-right: 0;
}

/* =========== Right Navbar =========== */

#top-nav .navbar-right {
  font-weight: bold;
}
#top-nav .navbar-right .glyphicon {
  top: .2em;
  left: calc(-2/16 * 1em);
  font-size: 1.2em;
  margin-right: 0.5em;
}
#top-nav .navbar-nav.navbar-right a {
  margin-right: calc(20/16 * 1em);
  padding: calc(28/16 * 1em - 0.2em) calc(4/16 * 1em) calc(27/16 * 1em - 5px);
}
#top-nav.shrinked .navbar-right a {
  padding: 1em calc(4/16 * 1em) calc(1em - 5px);
}
#top-nav .navbar-nav.navbar-right li:last-of-type a {
  margin-right: 0;
}
