#how-it-works h1{
    color:#20245C;
}
#how-it-works .section-padding{
    padding: 2em;
}

.button{
    display: block;
    padding: 0.8em 1.3em;
    text-decoration: none;
    color: #e92e71;
    border-radius: 999px;
    background-color: #fff
}

.tab a:hover{
    background-color:#e3e7e8;
    color: #e92e71;
    text-decoration: none;
}
.is-active{
    color: #fff;
    background-color: #e92e71
}
#how-it-works ol{
    list-style:none;
}
.tab-content{
    display:none;
}
.display-this{
    display: block;
}
