
<template name="projectProfile">
<!-- We are subscibing to the singleProject publication -->
  {{#if Template.subscriptionsReady }}
  <!-- calling the helper function getProject that returns a project object using the route parameter projectId -->
    {{ #with getProject }}

<div id="content-container">
    <div class="row">
      <div id="project-media" class="col-md-6">
          {{#each projectMedia}}
            <div>
              <img id="project-media-img" src="{{this.url}}" alt="" />

              <!-- Should be redone -->
              <a href="#" onclick="showMoreImages();" id="project-image-version"> See more images</a>
            </div>
          {{/each}}
      </div>
      <div class="col-md-6">
        <div id="project-name" class="page-header">
          <h1>{{name}}</h1>
        </div>
        <div id="project-data">
        <label>Progress: </label>

        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="{{calculateProgress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{calculateProgress}}%;">
            <span class="sr-only">{{calculateProgress}}% Complete</span>
          </div>
        </div>

          <ul id="project-list">
            <li><label>Launched in </label><span> {{startupDateFormatted}}</span></li>
          <li><label>Categorys </label>
        {{# each category in problemCategories }}
          <a href="categories/{{category}}" class="project-data-link">{{category}}</a>
        {{/ each }}
      </li>
            <!-- How do we link country issues, what is the route? -->
          <li><label>Based in  </label><a href="country/{{postalAddress.country}}" class="project-data-link"> {{postalAddress.country}}</a></li>
          <li><label>Website </label>
          {{# if hasMultipleWebsites }}
            {{# each websites }}
              <a href="{{url}}" class="project-data-link">{{name}}</a>
          {{/ each }}
        {{else}}
          {{# each websites }}
            <a href="{{url}}" class="project-data-link">{{url}}</a>
          {{/ each }}
        {{/ if}}
      </li>
        <li><label>Application </label>
        {{# each platform in targetPlatforms }}
        <!-- this should be links -->
          <a href="type/{{platform}}" class="project-data-link">{{platform}}</a>
        {{/ each }}
      </li>

        <li><label>Social </label>
        {{# each socialLinks }}
         <a href="{{url}}" class="project-data-link">{{name}}</a>
        {{/ each }}
      </li>
      </ul>

    </div>
        <div id="project-description">{{ description }}</div>
        <div id="project-buttons">

          <!-- TODO: Round corners on buttons. -->
          <a href="website_uri" class="btn btn-default">Visit website</a>  
          <a href="share_function" class="btn btn-default btn-white-background">Share this page</a>
        </div>
      </div>
    </div>
</div> 
<div id="project-positions" class="col-md-12">
  <div id="project-positions-names" class="col-md-6">
    <h2 id="project-position-header">Opening Positions</h2>
    <span id="project-position-main-description"> If you have the right skillset and expereince, yu are more than welcome to help out.</span>
    <ul id="project-position-names-list">
      <!-- Should containt collection list of positions in li with position and local-->

      <li><a href="#" onclick="showPosition();" class="project-position-name-link">Position name.</a> <br /> {{ postalAddress.country }}, {{ postalAddress.city }}</li>
      <li><a href="#" onclick="showPosition();" class="project-position-name-link">Another position name click should load theese.</a> <br /> {{ postalAddress.country }}, {{ postalAddress.city }}</li>
    </ul>
  </div>
  <div id="project-positions-description-container" class="col-md-6">
    <div id="project-positions-description-text">
      Describe the first position or the last clicked one. Probably jquery showPosition function call? 
    </div>
  </div>
</div>
    {{ /with }}
  {{/if}}

</template>
