#project-name {
	font-size:1.5em;
	margin-bottom: -5%;
	font-weight: 600;
}

#project-list {
	list-style-type: none;
	padding-left: 0px;
}

#project-data {
	font-size: 1em;
	/*margin-left: -8%;*/
}
.project-data-link  {
	text-decoration: none; 
	color: #e92e71 !important;
}

#project-description {
	margin-left:inherit;
	font-size: 1.2em;
}

#project-image-version {
	text-decoration: none; 
	color: #e92e71 !important;
	line-height: 2em;
	font-size: 1.2em;
}

#project-media {
	text-align: center;
}

#project-media-img {
	width: 100%; 
}

#project-buttons {
	margin-top:5%;
}

#project-positions {
	width: 100%;
	margin-top: 5%;
	background: #F8F8F8;
}

#project-position-names-list {
	padding-top: 2%;
	list-style-type: none;
	padding-left: 0px;
}

#project-position-names-list li {
	border-bottom: 5px solid #FFFFFF;
}

#project-position-names-list a {
	text-decoration: none; 
	color: #e92e71 !important;
	font-size: 1.3em;
	font-weight: 300;
}

#project-positions-description-text {
	margin-top:10%;
	background-color: #FFFFFF;
	height: 100%;
	overflow:visible;
}