/**************** Be a part ********************/
.be_a_part{
  margin-top: 80px;
  text-align: center;
}
.be_a_part .content_wrapper{
  min-height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 80px;
  padding-left: 200px;
  padding-right: 200px;
  max-width: 900px;
  background-color: #1F225D;
}
.be_a_part h1{
  opacity: 0;
  margin-top: 0px;
  font-size: 46px;
  font-weight: 900;
  color:#fff;
  -webkit-transition: all 0.6s 0.5s cubic-bezier(0.44, 0.88, 0.85, 1.11);
  -moz-transition: all  0.6s 0.5s cubic-bezier(0.44, 0.88, 0.85, 1.11);
  transition: all  0.6s 0.5s cubic-bezier(0.44, 0.88, 0.85, 1.11);
}
.be_a_part p{
  color:#fff;
  opacity: 0;
  margin-top: 0px;
  -webkit-transition: all 0.8s 0.5s cubic-bezier(0.44, 0.88, 0.85, 1.11);
  -moz-transition: all  0.8s 0.5s cubic-bezier(0.44, 0.88, 0.85, 1.11);
  transition: all  0.8s 0.5s cubic-bezier(0.44, 0.88, 0.85, 1.11);
}
.be_a_part .btn{
  margin-top: 40px;
  background-color: #fff;
  color:#1F225D;
  border-color: #fff;
  -webkit-transition: all 1s 0.5s cubic-bezier(0.44, 0.88, 0.85, 1.11);
  -moz-transition: all  1s 0.5s cubic-bezier(0.44, 0.88, 0.85, 1.11);
  transition: all  1s 0.5s cubic-bezier(0.44, 0.88, 0.85, 1.11);
}
.be_a_part .animation.active h1{
  opacity:1;
  margin-top: 0;
}
.be_a_part .animation.active p{
  opacity:1;
  margin-top: 0;
}
@media only screen and (max-width: 480px) {
  .be_a_part .content_wrapper{
    padding: 20px;
  }
  .be_a_part h1{
    font-size: 36px;
  }
  .be_a_part .btn{
    width:calc(100% - 20px);
    margin-left: auto;
    margin-right: auto;
  }
}
