.section-padding {
    padding-top: 3em;
    padding-bottom: 3em;
}

#about-banner {
    padding: 4.75em 0;
    min-height: 70vh;
    position: relative;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('images/background-header.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#about-text h1 {
    font-size: 4em;
}