<template name="about">
    <section id="about-banner">
    </section>
    <section id="about-text">
        <div class="container">
            <div class="row col-lg-12">
                <h1>Support refugees in the subsequent phases of their transition</h1>
                <h3>About</h3>
                <p>Refugee Air is an initiative by a group of action-driven entrepreneurs and humanitarians. We know how
                    to solve problems and get things done and we want to make a difference right now. We’re putting
                    crowd-sourced competencies and our extensive networks to work to save lives and drive positive
                    change.</p>
                <h3>The issue</h3>
                <p>Refugees without visas are currently not able to travel by air due to “Carriers Liability”, an EU
                    directive making carriers financially liable for all costs related to passengers who are not
                    ultimately granted asylum at their destination. Although budget flights on the same routes are cheap
                    and easy to come by, refugees must instead pay thousand of euros to smugglers to undertake the
                    dangerous sea crossing, risking their lives in the process.</p>

                <h3>What we want to achieve</h3>
                <p>Our mission is to circumvent the stumbling block of carriers liability and ensure the safe
                    transportation of refugees into the EU by air. </p>

                <h3>What we want to achieve</h3>
                <p>Through crowd sourced collaboration and with the backing of private and corporate donors, Refugee Air
                    is going to prove that the transportation issue can be solved. By collaborating with carriers,
                    governments and the UNHCR, we are going to make safe routes into the EU a reality.</p>
            </div>
        </div>
    </section>
    {{>  sectionHelloFriends }}
</template>