<template name="projectsTiles">
  <script src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.min.js"></script>
  <div class="page-header">
     <a class="btn btn-4white-background btn-primary pull-right" href="/projects/add" role="button">Add Project</a>
    <h1>View all projects</h1>
  </div>
  <div class="row">
    <div class="grid" >
      <div class="grid-item">...</div>
      <div class="grid-item grid-item--width2">...</div>
      <div class="grid-item">...</div>
    </div>
  </div>



</template>
