* {
    box-sizing: border-box;
}
.grid {
    background-color: white;
    min-height: 170px;
}
.grid:after {
    content: '';
    display: block;
    clear: both;
}
.grid-item {
    float: left;
}
.grid-item img {
    display: block;
    min-width: 200px;
    max-width: 500px;
    /*box-shadow: inset 0 0 8px rgba(0,0,0,.3)*/
}
.grid-title {
    /*z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "LabGrotesque", Roboto, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 5rem;*/
    font-family: "LabGrotesque", Roboto, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    position: absolute;
    left: 0;
    right: 0;
    top:45%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0.1rem 0.6rem;
    background: #2E2756;
    border-radius: 0.7rem;
    visibility: hidden;
}
.grid-tag {
    font-family: "LabGrotesque", Roboto, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    position: absolute;
    right: 2rem;
    top: 2rem;
    padding: 0.1rem 0.6rem;
    background: #2E2756;
    border-radius: 0.7rem;
}
body {
    color: #ececec;
    font-family: "LabGrotesque", Roboto, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
.no-padding, .container-fluid {
    padding: 0;
    overflow: hidden;
}
#projects {
    background-color: #20245c;
}
.btn {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background: #20245c;
    border: 2px solid #C8306E;
    padding: 1rem 3rem;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    border-radius: 10rem;
    font-size: 1.6rem;
    font-weight: 700;
    outline: none !important;
}
.btn.btn-white {
    background: white;
    border-color: #20245c;
}
.btn.btn-white:hover {
    background: #20245c;
    color: white;
}
.btn:focus {
    color: whitesmoke;
    outline: none;
}
.btn:active {
    outline: none;
    color: white;
}
.btn:hover {
    color: white;
}
.btn.btn-active {
    background: #C8306E;
}
.navbar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-family: "LabGrotesque", Roboto, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-weight: 700;
    background-color: #fff;
    text-transform: uppercase;
    margin-bottom: 0;
    height: 5.71429rem;
}
.navbar a {
    color: #20245c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 1.5rem;
    text-decoration: none;
}
.navbar a:hover {
    color: #20245c;
}
.navbar a:focus {
    text-decoration: none;
}
.navbar li {
    height: 5.71429rem;
}
.navbar li i {
    padding: 0 1rem;
}
.navbar li+ li {
    margin: 0;
}
.navbar li a {
    color: #20245c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 0;
    padding: 0 3rem;
    line-height: 5.71429rem;
    font-size: 1.2rem;
}
.navbar li a:hover {
    color: black;
}
.navbar li a:focus {
    background-color: #C8306E;
    color: white;
}
.navbar .header-title {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1px;
    padding: 0 4rem;
    margin: 0;
    text-transform: capitalize;
    line-height: 5.71429rem;
}
.dropdown-toggle {
    color: #C8306E;
    cursor: pointer;
    display: inline-block;
}
.filters {
    margin: 4rem 0;
}
.filters button {
    background: none;
    border: none;
}
.filter-row {
    font-size: 3.5rem;
    text-align: center;
    margin: 1rem 0;
    font-weight: 700;
}
.dropdown-menu {
    text-align: center;
    padding: 1.5rem 0;
    border: none;
    margin-top: 1rem;
}
.dropdown-menu> li> span {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 2.0rem;
    color: #333333;
    white-space: nowrap;
    cursor: pointer;
    color: #20245c;
}
.dropdown-menu> li> span:hover, .dropdown-menu> li> span:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu> li> span.active {
    color: #C8306E;
    font-weight: 700;
}
.footer {
    margin-top: 2rem;
    border-bottom: 1px solid #20245c;
}
.footer .footer-link {
    margin-bottom: 4rem;
}
.footer h3 {
    font-size: 2rem;
    font-weight: 700;
}
.footer a {
    color: #C8306E;
    font-weight: 700;
    font-size: 1.6rem;
}
#footer .navbar .nav li+ li {
    float: right;
}
#footer .navbar .nav li+ li a {
    padding: 0 1.5rem;
    text-transform: none;
    color: #C8306E;
}
#footer .navbar .nav li+ li a:active, #footer .navbar .nav li+ li a:focus {
    background-color: #20245c;
    color: white;
}
.tile-container {
    padding: 0;
}
.tile-container.about-tile {
    background: none;
    padding: 75px 75px 0;
}
.tile-container.about-tile .description {
    text-align: left;
}
.tile-container.about-tile .description h1 {
    font-weight: 300;
    letter-spacing: 0.2rem;
}
.tile-container.about-tile .description p {
    color: #cacaca;
    font-size: 1.5rem;
    font-weight: normal;
}
.project-tile {
    -webkit-transition: width 0.4s, height 0.4s;
    -moz-transition: width 0.4s, height 0.4s;
    -ms-transition: width 0.4s, height 0.4s;
    -o-transition: width 0.4s, height 0.4s;
    transition: width 0.4s, height 0.4s;
    background: rgba(255, 255, 255, 0.1);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 300px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}
.project-tile.active-tile {
    width: 100%;
    height: 800px;
}
.project-tile:hover .hoverlay {
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}
.project-tile .hoverlay {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #191912;
    padding: 60px 60px 30px;
    text-align: center;
}
.project-tile .hoverlay .borderBottom {
    border-bottom: 2px solid #ececec;
    width: 50%;
    margin: 0 auto 1rem;
}
.project-tile .hoverlay h1 {
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.2rem;
}
.project-tile .hoverlay p {
    color: #cacaca;
    font-size: 1.5rem;
    font-weight: bold;
}
.project-tile.earth {
    background-image: url("../images/earth.jpg");
}
.project-tile#face {
    background-image: url("../images/reactionFace.jpg");
}
.project-tile#face .hoverlay {
    background: #694641;
}
.project-tile#norris {
    background-image: url("../images/norris.jpg");
}
.project-tile#norris .hoverlay {
    background: #697e9d;
}
.project-tile#villafiber {
    background-image: url("../images/villafiber.png");
}
.project-tile#villafiber .hoverlay {
    background: #00b6c4;
}
.project-tile.double {
    height: 600px;
}
.project-tile.double .hoverlay {
    padding-top: 200px;
}
.social-links {
    padding-top: 100px;
    text-align: center;
    font-size: 5rem;
}
.social-links span {
    margin: 1rem;
}
.grid a {
    color: white;
}
.grid-item--width2 {
    width: 50%;
}
.grid-item--height2 {
    height: 600px;
}
.test1 {
    background-color: #b3b3b3;
}
.test2 {
    background-color: white;
}
.test3 {
    background-color: #d3d3d3;
}
.filters-button-group {
    text-align: center;
}
.filters-button-group span {
    text-transform:capitalize;
}
.filters-button-group .btn-filter:focus {
    color: whitesmoke;
    outline: none;
}
.filters-button-group .btn-filter:active {
    outline: none;
    color: white;
}
.filters-button-group .btn-filter:hover {
    color: white;
}
.filters-button-group .btn-filter.btn-active {
    background: #C8306E;
}
.hero {
    min-height: 393px;
    position: relative;
    padding-top: 10.5rem;
}
.hero#page-top-hero {
    background: url("../images/intro.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
}
.hero .btn-hero {
    color: #20245c;
    border: none;
    margin: 1.5rem 0;
}
.hero .hero-links {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 0;
}
.hero .hero-links .link {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    background: white;
    color: #20245c;
    padding: 1.8rem 3.5rem;
    box-sizing: border-box;
    font-size: 1.8rem;
    font-family: "LabGrotesque", Roboto, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-weight: 500;
    border: none;
}
.hero .hero-links .link:focus {
    outline: none;
}
.hero .hero-links .link.link-active {
    background: #20245c;
    color: white;
}
.hero h1, .hero h2, .hero h3 {
    font-family: "LabGrotesque", Roboto, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: left;
}
.hero h1 {
    font-size: 4rem;
    line-height: 5rem;
}
.hero h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
}
.hero h3 {
    font-size: 1.7rem;
    font-weight: 500;
}
.hero .inverted {
    color: white;
}
.slide-container {
    width: 200%;
    overflow: hidden;
}
.slide-container .slide {
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    -ms-transition: -ms-transform 0.3s;
    -o-transition: -o-transform 0.3s;
    transition: transform 0.3s;
    width: 50%;
    display: inline-block;
    float: left;
}
.slide-container .slide.move {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
section {
    width: calc(100%+ 30px);
    margin-left: -15px !important;
    margin-right: -15px !important;
}
#volunteer {
    padding-top: 4rem;
    background-color: white;
    color: #20245c;
}
#volunteer button.btn {
    margin: 4rem auto;
}
#volunteer button.btn.hover-outline:hover {
    border-color: white;
}
#volunteer .hero h1, #volunteer .hero h2, #volunteer .hero h3 {
    text-align: center;
}
#tasks {
    background: #f6f6f7;
}
#become-part {
    background: #20245c;
}
#become-part .hero {
    min-height: 400px;
    height: auto;
}
.counter {
    font-size: 1.5rem;
    font-weight: 700;
    display: inline-block;
    padding: 0.2rem 1.2rem;
    margin: -0.2rem 1.5rem;
    position: relative;
    top: -0.2rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    border-radius: 4rem;
}
.counter.inverted {
    background: #20245c;
    color: white;
}
.table-headings {
    margin-top: 2rem;
    cursor: pointer;
}
.table-headings h4 {
    font-weight: 700;
    font-size: 1.6rem;
}
.table-listings {
    margin-bottom: 4rem;
}
.table-listings li {
    list-style-type: none;
    padding: 1.5rem 0;
    border-bottom: solid 1px #ededed;
}
.table-listings li:hover {
    color: #C8306E;
    background: #ebebef;
    font-weight: 700;
    cursor: pointer;
    border-color: #20245c;
}
.section-header {
    display: inline-block;
}
