#article-section {
    margin-top: 0px;
}

#top-nav-bg {
    background-color: #1F235C !important;
    height: 7rem;
}

#article-title-row {
    color: #1F235C;
    text-align: center;
    font-family: 'Lab Grotesque Medium', Helvetica, sans-serif;
}

#article-title-row .col-lg-8 {
    background-color: white;
    margin-top: -80px;
}

#article-title {
    font-size: 3.5em;
    margin-bottom: 0px;
}

#article-sub-title {
    font-style: italic;
    font-size: 16px;
    margin-top: 10px;
}

#article-social-btns {
    margin-top: 20px;
}

#article-social-btns .col-lg-8 {
    display: flex;
}

#article-social-btns a {
    color: white !important;
    font-size: 16px;
    border: 0px;
    width: 170px;
    height: 31px;
}

#article-social-btns a i {
    float: left;
    margin-top: 4px;
}

#article-social-btns a:hover {
    opacity: 0.7;
}

#article-social-btns .btn-facebook {
    background-color: #39589A;
}

#article-social-btns .btn-twitter {
    background-color: #4DAAF1;
}

#article-social-btns .btn-google-plus {
    background-color: #F7412D;
}

#article-social-btns .btn-email {
    background-color: black;
}

#nbr-shares {
    width: 80px;
}

#nbr-shares-value {
    color: #1F235C;
    text-align: center;
    font-family: 'Lab Grotesque Medium', Helvetica, sans-serif;
    font-size: 18px;
}

#nbr-shares-txt {
    color: #D92D6F;
    text-align: center;
    font-family: 'Lab Grotesque Medium', Helvetica, sans-serif;
}

#article-text {
    margin-top: 30px;
    color: #1F235C;
    text-align: left;
    font-size: 18px;
}

#article-posted-on h4 {
    font-size: 14px;
    float: right;
    font-style: italic;
    font-family: 'Lab Grotesque Medium', Helvetica, sans-serif;
}

#article-tags {
    margin-top: 30px;
}

#article-tags button {
    border-radius: 6px;
    font-size: 11px !important;
    padding: 8px !important;
    border: 0px;
    background-color: #F3F3F3;
    color: gray;
    margin-right: 3px;
}