<!-- based on: https://github.com/refugeetech/documentation/blob/develop/projecthub/design/RT_Hub_wf_009_1_ArticlePage_v4_DT.png -->
<!-- -->

<template name="profileLanding">
    <!-- Call the navbar and menu header-->
    <!-- Call the template: projectInfo for the first block including the project variables and pictures -->
    <!-- Call the template: projectRequests for the second block including all the requests made by this project -->
    <!-- Call the template: ??? for filtered results based on this projects problemCategories and location -->
    <!-- Call the template: projectCategoriesInfoBlock including an info block for each cateogry the project belongs to -->
    <!-- Call the template: projectSignUpBlock -->
    <!-- Call the footer template -->
</template>