#landing-banner {
    padding: 2.2em 0;
    min-height: 100vh;
    text-align: center;
    color: #fff;
    background-image: url('images/gfx_intro.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-size: 5em;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
}

#landing-title {
    font-size: 5rem;
    text-shadow: 0 1px 0 #20245C;
    /* Match the color overlay hue of banner image*/
}

#contact {
    text-align: center;
    background-image: url('images/contactBg.jpg');
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0px;
}

#contact a {
    color: #20245C;
}

#contact .contact-heading {
    margin-left: 20px;
    margin-right: 20px;
}

.landing-page-slogan {
    margin-left: 30%;
    width: 80%;
    text-align: left;
}

@media only screen and (max-width: 992px) {
    .landing-page-slogan {
        margin-left: 0%;
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }
    .landing-slogan {
        font-size: 0.7em;
        font-family: 'Lab Grotesque Medium', Helvetica, sans-serif;
        text-align: left;
        margin-left: 20px;
    }
}

.landing-slogan {
    font-size: 0.9em;
    font-family: 'Lab Grotesque Regular', Helvetica, sans-serif;
}

#landing-get-involved {
    margin-top: -10%;
}

.small-landing-page-sector-header {
    margin-top: 5%;
    display: block;
    text-align: center;
    font-weight: 700;
}

.second-sector {
    background-color: #FFFFFF;
    min-height: 400px;
}

.second-sector img {
    height: 200px;
    width: 200px;
}

.second-header-landing-page {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.landing-pages-images ul {
    display: inline;
    list-style-type: none;
}


/* SECTION #volunteer */

.top-text-box {
    align-items: center;
    text-align: center;
    font-family: 'Lab Grotesque Regular', Helvetica, sans-serif;
}

.top-text-box h1 {
    font-size: 3.4em;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Lab Grotesque Medium', Helvetica, sans-serif;
}

#volunteer .btn-red {
    margin-top: 30px;
    padding: 0.7em 1.7em;
}

#volunteer .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}

#volunteer img {
    margin-bottom: 30px;
}

.context-header {
    font-size: 1.5em;
    font-family: "Lab gr";
}

.target-groups-text {
    font-size: 1.5em;
}

.bgimg-banner {
    position: relative;
    text-align: center;
    color: #fff;
    background-image: url('images/background-header.jpg');
    font-size: 1em;
}

.bgclr-blue {
    background-color: #20245C;
    color: white;
}

.bgclr-white {
    background-color: white;
    color: #20245C;
}

.bgclr-pink {
    background-color: #f23372;
    color: white;
}

.transition-column {
    align-items: center;
    text-align: center;
    padding: 70px 0;
}

#transition .section-padding {
    padding-top: 0em;
}

#peak1-blog {
    text-align: center;
}

.section-padding {
    padding-top: 3em;
    padding-bottom: 3em;
}

.margin2px {
    margin: 2px;
}

.margin5px {
    margin: 5px;
}

.margin10pxTopBottom {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin10px {
    margin: 10px;
}

.margin15px {
    margin: 15px;
}

.margin35px {
    margin: 35px;
}

.owl-theme .owl-controls .owl-page span {
    background-color: #20245C;
}

.journeyImg {
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.transition-heading {
    font-family: "Lab Grotesque Regular", Helvetica, sans-serif !important;
    font-size: 1.5em !important;
    padding-top: 18px;
    padding-bottom: 8px;
}

.transition-text {
    font-size: 1.2em !important;
}

@media only screen and (max-width: 992px) {
    .transition-text {
        margin-left: 40px;
        margin-right: 40px;
    }
}

#whatwedo p {
    font-size: 1.9em;
    margin-left: 40px;
    margin-right: 40px;
}

#whatwedo .btn-red {
    font-family: "Lab Grotesque Light", Helvetica, sans-serif !important;
    margin-top: 30px;
    padding: 0.7em 1.7em;
    text-decoration: none;
}


/* OurProcess Section */

.read-and-continue {
    padding: 60px;
    text-align: left;
}

#knowledgeSection {}

#projectsSection {
    background-color: #f5f5f5;
}

.ourProcessHeading {
    margin-top: 0px;
    font-size: 3em !important;
    font-weight: normal !important;
}

.ourProcessBtn {
    margin-left: -15px;
    margin-top: 30px;
    border: 0px;
}

@media only screen and (max-width: 1024px) {
    #knowledge-projects-row {
        margin-left: 30px;
        margin-right: 30px;
    }
}