#landing-banner {
    padding: 70px 0;
    min-height: 70vh;
    position: relative;
    text-align: center;
    color: #fff;
    width: 100%;
    background-image: url('images/background-header.jpg');
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    font-size: 5em;
}

#landing-title {
  font-size: 5rem;
  text-shadow: 0 1px 0 #21235c; /* Match the color overlay hue of banner image*/
}

.landing-page-slogan {
    margin-left: 45%;
    width: 80%;
    text-align: left;
}

.landing-slogan {
    font-size: 0.7em;
}

.btn-red-on-white-rounded {
    background: #FFFFFF;
    color: #e92e71;
    border-radius: 24px;
    font-size: 2.5rem;
}

#landing-get-involved {
    margin-top: -10%;
}

.small-landing-page-sector-header {
    margin-top: 5%;
    display: block;
    text-align: center;
    font-weight: 700;
}

.second-sector {
    background-color: #FFFFFF;
    min-height:400px;
}

.second-sector img {
    height: 200px;
    width: 200px;
}

.second-header-landing-page {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
}

.landing-pages-images ul {
    display: inline;
    list-style-type: none;
}
