<template name="singleProject">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/projects/{{ project._id }}">
          <h2 class="panel-header">
            {{ project.name }}&nbsp;
            <small>{{ project.shortDescription }}</small>
          </h2>
        </a>
        {{# each tag in project.tags }}
        <span class="label label-info label-sm">{{ tag }}</span>
        {{/ each }}
      </div>
      <div class="panel-body">
        <p class="truncate">{{ project.description }}</p>
        {{# each link in project.links }}
          <a href="{{ link.url }}" class="badge badge-info">
            <i class="fa fa-{{ linkTypeClass link.type}}"></i>&nbsp;
            {{ link.name }}
          </a>
        {{/ each }}
      </div>
      <div class="panel-footer">
        <a href="/projects/{{ _id }}">
          <i class="fa fa-home"></i>&nbsp;
          Project Homepage
        </a>
      </div>
    </div>
  </div>
</template>
