<template name="singleProject">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <a href="/projects/{{ _id }}">
          <h2 class="panel-header">
            {{ name }}&nbsp;
            <small>{{ shortDescription }}</small>
          </h2>
        </a>
        {{# each tag in tags }}
        <span class="label label-info label-sm">{{ tag }}</span>
        {{/ each }}
      </div>
      <div class="panel-body">
        <p>{{ description }}</p>
        {{# each link in links }}
          <a href="{{ url }}" class="badge badge-info">
            <i class="fa fa-{{ linkTypeClass type}}"></i>&nbsp;
            {{ lname }}
          </a>
        {{/ each }}
      </div>
      <div class="panel-footer">
        <a href="/projects/{{ _id }}">
          <i class="fa fa-home"></i>&nbsp;
          Project Homepage
        </a>
      </div>
    </div>
  </div>
</template>
