/* Variables */

body {
   /* Ensure body is not covered by top navbar */ /*TODO: Solve this using a better method*/
  font-size: 16px;
}

/* ==========================================================================
Typography | TODO: Consider using font-weights like this: https://www.smashingmagazine.com/2013/02/setting-weights-and-styles-at-font-face-declaration/ --> Style Linking
========================================================================== */

@font-face {
  font-family: 'Lab Grotesque Black';
  src:  url('fonts/labGrotesque/LabGrotesqueWeb-Black.woff2') format('woff2'),
  url('fonts/labGrotesque/LabGrotesqueWeb-Black.woff') format('woff');
}
@font-face {
  font-family: 'Lab Grotesque BlackItalic';
  src:  url('fonts/labGrotesque/LabGrotesqueWeb-BlackItalic.woff2') format('woff2'),
  url('fonts/labGrotesque/LabGrotesqueWeb-BlackItalic.woff') format('woff');
}
@font-face {
  font-family: 'Lab Grotesque Bold';
  src:  url('fonts/labGrotesque/LabGrotesqueWeb-Bold.woff2') format('woff2'),
  url('fonts/labGrotesque/LabGrotesqueWeb-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Lab Grotesque BoldItalic';
  src:  url('fonts/labGrotesque/LabGrotesqueWeb-BoldItalic.woff2') format('woff2'),
  url('fonts/labGrotesque/LabGrotesqueWeb-BoldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Lab Grotesque Italic';
  src:  url('fonts/labGrotesque/LabGrotesqueWeb-Italic.woff2') format('woff2'),
  url('fonts/labGrotesque/LabGrotesqueWeb-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Lab Grotesque Light';
  src:  url('fonts/labGrotesque/LabGrotesqueWeb-Light.woff2') format('woff2'),
  url('fonts/labGrotesque/LabGrotesqueWeb-Light.woff') format('woff');
}
@font-face {
  font-family: 'Lab Grotesque LightItalic';
  src:  url('fonts/labGrotesque/LabGrotesqueWeb-LightItalic.woff2') format('woff2'),
  url('fonts/labGrotesque/LabGrotesqueWeb-LightItalic.woff') format('woff');
}
@font-face {
  font-family: 'Lab Grotesque Medium';
  src:  url('fonts/labGrotesque/LabGrotesqueWeb-Medium.woff2') format('woff2'),
  url('fonts/labGrotesque/LabGrotesqueWeb-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Lab Grotesque MediumItalic';
  src:  url('fonts/labGrotesque/LabGrotesqueWeb-MediumItalic.woff2') format('woff2'),
  url('fonts/labGrotesque/LabGrotesqueWeb-MediumItalic.woff') format('woff');
}
@font-face {
  font-family: 'Lab Grotesque Regular';
  src:  url('fonts/labGrotesque/LabGrotesqueWeb-Regular.woff2') format('woff2'),
  url('fonts/labGrotesque/LabGrotesqueWeb-Regular.woff') format('woff');
}

/* Default Font Settings */
body {
  font-family: 'Lab Grotesque Regular', Helvetica, sans-serif; font-weight:normal; font-style:normal;;
}

 .section-heading {
   font-family: 'Lab Grotesque Medium', Helvetica, sans-serif; font-weight:bold; font-style:normal;;
   font-size: 3em;
 }
 
 h2 {
   font-family: 'Lab Grotesque Medium', Helvetica, sans-serif; font-weight:bold; font-style:normal; 
 }
 
 .column-heading {
   font-family: 'Lab Grotesque Medium', Helvetica, sans-serif; font-weight:bold; font-style:normal;
   font-size: 2em;
   line-height: calc(54/46);
 }
 
 .column-paragraph {
  font-size: 1.5em;
  line-height: calc(50/40);
 }
 
 .section-paragraph {
  font-size: 2em;
  line-height: calc(48/32);
 }
 
 .context-header {
   font-family: 'Lab Grotesque Medium', Helvetica, sans-serif; font-weight:normal; font-style:italic;;
   font-size: 1.5em;
 }

/* ==========================================================================
Helper classes
========================================================================== */

/*
* Hide visually and from screen readers
*/

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
