/*  COLUMN SETUP  */
.rtProjectProfile .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
}
.rtProjectProfile .col:first-child { margin-left: 0; }

/*  GROUPING  */
.rtProjectProfile .group:before,
.rtProjectProfile .group:after { content:""; display:table; }
.rtProjectProfile .group:after { clear:both;}
.rtProjectProfile .group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF TWELVE  */
.rtProjectProfile .span_12_of_12 {
	width: 100%;
}

.rtProjectProfile .span_11_of_12 {
  	width: 91.58%;
}
.rtProjectProfile .span_10_of_12 {
  	width: 83.16%;
}

.rtProjectProfile .span_9_of_12 {
  	width: 74.75%;
}

.rtProjectProfile .span_8_of_12 {
  	width: 66.33%;
}

.rtProjectProfile .span_7_of_12 {
  	width: 57.91%;
}

.rtProjectProfile .span_6_of_12 {
  	width: 49.5%;
}

.rtProjectProfile .span_5_of_12 {
  	width: 41.08%;
}

.rtProjectProfile .span_4_of_12 {
  	width: 32.66%;
}

.rtProjectProfile .span_3_of_12 {
  	width: 24.25%;
}

.rtProjectProfile .span_2_of_12 {
  	width: 15.83%;
}

.rtProjectProfile .span_1_of_12 {
  	width: 7.416%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
.rtProjectProfile 	.col {  margin: 1% 0 1% 0%; }
    
.rtProjectProfile  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
	width: 100%; 
	}
}